
    img{
        height:200px;
        width:350px
    }
    .header{
        background-color: blue;
        color:rgb(0, 2, 129)
    }
    .odd-row{
        background-color:red;
        color:rgb(0, 204, 255);
    }
    body{
        background-color:rgb(56, 56, 56);
        color:rgb(161, 0, 0);
        font-family:Georgia;
        font:size 48px;
        text-align:center;
    }